# Build directory
build/
bin/
clang_tidy_output/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Compiled object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.dmp
*.stackdump

# IDE / Editor files
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~